@import url(layout.css);
@import url(subLayout.css);
@import url(Style.css);
/*main page*/
@media  (min-width:320px) and (max-width:480px){
  /*main page*/
  .mainContainer {
    display: block;
    padding: 10px;
}
.MainBox {
  padding: 10px;
  width: 280px;
  margin-left: -57px;
}
h1{
  font-size: 25px;

}
.search{
  width: 20%;
  margin-right: -18px;
}
.btn{
  width: 25%;
  margin-top: 17px;
  margin-left: -22px;
  padding-left: 3px;
}
.footer{
  padding: 10px;
}
.respon{
  width: 200px;
}
/*main page*/
/*post page*/
.postGr {
  display: block !important;
  padding: 20px!important;
  grid-gap: 10px !important;
}
.Avater {
  margin-bottom: 23px;
  margin-right: 10px;
}
.headerImg{
  width:662px !important;
  height:750px
}
.postBox {
  width: 621px  !important;
  padding: 5px;
}
/*post page*/
}
@media screen and (min-width:768px) and (max-width:900px){
  /*main page*/

.MainBox {
  padding: 10px;
  width: 364px;
  margin-left: -57px;
}
h1{
  font-size: 25px;

}
.search{
  width: 20%;
  margin-right: -390px;
}
.btn{
  width: 25%;
  margin-top: 17px;
  margin-left: -22px;
  padding-left: 3px;
}
.footer{
  padding: 10px;
}
.respon{
  width: 294px;
}
.postGr {
  display: block !important;
  padding: 20px!important;
  grid-gap: 10px !important;
}
.Avater {
  margin-bottom: 60px;
  margin-right: 10px;
}
.headerImg{
  padding-left: 0px;
  width:100%;
  height:750px
}
}
@media(max-width:1024px) and (max-width:1200px){
  .headerImg{
    padding-left: 0px;
    width:650px;
    height:750px
  }
  .Avater {
    margin-bottom: 19px;
    margin-right: 10px;
  }
}
